# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/nbproject/private/
assets/api/Configuracion.json
application/modules/consultorios/controllers/Consultorios.php
application/modules/consultorios/controllers/Consultorios.php
!/application/modules/inicio/views/documentos/HojaFrontal430128.php
!/application/modules/inicio/views/documentos/HojaFrontalMagdalena.php
!/application/modules/Ortopedia/controllers/Ortopedia.php
!/application/modules/Ortopedia/controllers/AsistentesMedicas.php
!/application/modules/Ortopedia/views/index.php
!/application/modules/Ortopedia/views/Medico/index.php
!/application/modules/Ortopedia/views/AsistenteMedica/index.php
!/application/modules/Ortopedia/views/AsistenteMedica/Paciente.php
!/application/modules/sections/views/Reportes/index.php
!/application/modules/pisos/views/Indicador.php
!/application/modules/pisos/views/Camas/EstatusCamas.php
!/application/modules/pisos/controllers/Medico.php
!/application/modules/pisos/views/Medico.php
!/application/modules/sections/views/Plantillas/AgregarContenido.php
!/application/modules/sections/views/Plantillas/SeleccionarContenido.php
!/application/modules/sections/views/Pacientes/pacienteV2.php
!/application/modules/observacion/views/Config/index.php
!/application/modules/areas/views/areasv/AreaAgregar.php
!/application/modules/admisionhospitalaria/views/AsignarCama.php
!/application/modules/sections/views/Reportes/ReportesCamas.php
!/application/modules/pisos/views/EnfermeriaIndicador.php
!/application/modules/sections/views/Documentos/Doc_TarjetaIdentificacion.php
!/application/modules/sections/views/Especialidades/index.php
!/application/modules/sections/views/Especialidades/Agregar.php
!/application/modules/sections/views/Especialidades/Consultorios.php
!/application/modules/sections/views/Especialidades/ConsultoriosAgregar.php
!/application/modules/sections/views/Especialidades/Documentos.php
!/application/modules/sections/views/Especialidades/DocumentosAgregar.php
!/application/modules/sections/controllers/Especialidades.php
!/application/modules/sections/views/Documentos/Dco_HojaFrontal.php
!/application/modules/sections/views/Documentos/Doc_HojaFrontal.php
!/application/modules/sections/views/Especialidades/Subespecialidad.php
!/application/modules/sections/views/Especialidades/SubespecialidadAgregar.php
!/application/modules/inicio/views/documentos/HojaFrontal430128Abierto.php
!/application/modules/sections/views/Documentos/HojaInicialAbierto.php
!/application/modules/observacion/views/Camas/Estados.php
!/application/modules/observacion/views/Configuracion/index.php
!/application/modules/observacion/controllers/Configuracion.php
!/application/modules/observacion/views/Configuracion/Areas.php
!/application/modules/observacion/views/Configuracion/Camas.php
!/application/modules/observacion/views/Configuracion/CamasAgregar.php
!/application/modules/asistentesmedicas/views/Configuracion/index.php
!/application/modules/asistentesmedicas/controllers/Configuracion.php
!/application/modules/sections/views/Reportes/TiemposHoraceroMedico.php
!/application/modules/Ensat/controllers/Ensat.php
!/application/modules/Ensat/views/Evaluacion.php
!/application/modules/Ensat/views/EvaluacionPaciente.php
!/application/modules/Ensat/views/EvaluacionPreguntas.php
!/application/modules/Ensat/views/EvaluacionPreguntasRespuetas.php
!/application/modules/Ensat/views/Evaluaciones.php
!/application/modules/Ensat/views/Encuesta.php
!/application/modules/Ensat/views/EncuestaPaciente.php
!/application/modules/Ensat/views/Encuestas.php
!/application/modules/Ensat/views/EncuestasPreguntas.php
!/application/modules/Ensat/views/EncuestasPreguntasRespuetas.php
!/application/modules/inicio/views/documentos/PaseDeVisitaPisos.php
!/application/modules/Vigilancia/controllers/Vigilancia.php
!/application/modules/admisionhospitalaria/views/Pases/PasesDeVisitas.php
!/application/modules/admisionhospitalaria/views/Pases/PasesdeVisitasFamiliares.php
!/application/modules/admisionhospitalaria/views/Pases/PasesdeVisitasFamiliaresAgregar.php
!/application/modules/admisionhospitalaria/views/Pases/PasesdeVisitasFamiliaresAgregarFoto.php
!/application/modules/Vigilancia/views/Accesos/Accesos.php
!/application/modules/Vigilancia/views/Accesos/Paciente.php
!/application/modules/inicio/views/documentos/PaseDeVisita.php
!/application/modules/triage/views/Configuracion/index.php
!/application/modules/triage/controllers/Configuracion.php
assets/img/familiares/2_80588.jpeg
assets/img/familiares/3_80588.jpeg
assets/img/familiares/4_80588.jpeg
assets/img/familiares/5_81396.jpeg
assets/img/334651-hd-wallpaper.0d9d3e.jpg
!/application/modules/inicio/views/Calendar.php
!/application/modules/urgencias/views/graficas/IndicadorTriage_Empleados.php
!/application/modules/urgencias/views/graficas/IndicadorTriage_Pacientes.php
!/application/modules/pisos/views/Medicos/Medico.php
!/application/modules/pisos/views/Medicos/Prealta.php
!/application/modules/consultaexterna/views/Prealtas.php
!/application/modules/consultaexterna/views/PrealtasReportes.php
!/application/modules/inicio/views/documentos/ReportesPrealtas.php
!/application/modules/abasto/views/Catalogos/Sistemas/SistemasIndex.php
!/application/modules/abasto/views/Catalogos/Sistemas/SistemasAgregar.php
!/application/modules/abasto/controllers/Proveedores.php
!/application/modules/abasto/views/Sistemas/SistemasAgregar.php
!/application/modules/abasto/views/Sistemas/SistemasIndex.php
!/application/modules/abasto/views/Proveedores/Agregar.php
!/application/modules/abasto/views/Proveedores/index.php
!/application/modules/abasto/controllers/Contratos.php
!/application/modules/abasto/views/Contratos/Agregar.php
!/application/modules/abasto/views/Contratos/index.php
!/application/modules/abasto/controllers/Sistemas.php
!/application/modules/abasto/views/Sistemas/Agregar.php
!/application/modules/abasto/views/Sistemas/index.php
!/application/modules/abasto/views/Sistemas/ElementosAgregar.php
!/application/modules/abasto/views/Sistemas/ElementosIndex.php
!/application/modules/abasto/views/Sistemas/RangosIndex.php
!/application/modules/abasto/views/Sistemas/RangosAgregar.php
!/application/modules/abasto/views/Sistemas/RangosInventario.php
!/application/modules/abasto/controllers/ValedeOsteosintesis.php
!/application/modules/abasto/views/ValesOsteosintesis/index.php
!/application/modules/abasto/controllers/ValeOsteosintesis.php
!/application/modules/sections/views/Landing/Graficas.php
!/application/modules/urgencias/views/Triage/IndicadorTriage.php
!/application/modules/urgencias/views/Triage/IndicadorTipos.php
!/application/modules/urgencias/views/Consultorios/index.php
!/application/modules/urgencias/views/Consultorios/IndicadorDetalles.php
!/application/modules/urgencias/views/Observacion/index.php
!/application/modules/urgencias/views/Pisos/index.php
!/application/modules/um/controllers/Um.php
!/application/modules/um/controllers/Encuestas.php
!/application/modules/um/views/Encuestas/EncuestasPreguntas.php
!/application/modules/um/views/Encuestas/EncuestaPaciente.php
!/application/modules/um/views/Encuestas/Encuestas.php
!/application/modules/um/views/Encuestas/EncuestasPreguntasRespuetas.php
!/application/modules/um/views/Resultados/index.php
!/application/modules/um/views/Resultados/Graficas.php
!/application/modules/Ensat/views/Resultados/Graficas.php
!/application/modules/Ensat/views/Resultados/index.php
!/application/modules/admisionhospitalaria/views/Pases/PasesdeVisitasValidar.php
!/application/modules/inicio/views/documentos/PaseDeVisitaTem.php
!/application/modules/inicio/views/documentos/PaseDeVisitaTemp.php
!/application/modules/pisos/views/Enfermeria/Indicador.php
!/application/modules/inicio/views/documentos/IndicadoresEnfermeriaPisos.php
!/application/modules/urgencias/views/Triage/index.php
!/application/modules/Rx/controllers/Rx.php
!/application/modules/Rx/views/EstudioRadiograficos.php
!/application/modules/Rx/views/PartesEstudios.php
!/application/modules/Rx/views/Estudios.php
!/application/modules/Rx/views/RegionesAnatomicas.php
!/application/modules/Rx/views/RegionesAnatomicasEstudios.php
!/application/modules/Rx/views/SolicitudesRx.php
!/application/modules/Rx/views/SolicitudesRx_Estudios.php
!/application/third_party/FirePHP/FirePHP.class.php
!/application/third_party/FirePHP/fb.php
!/application/third_party/nusoap095/lib/class.soap_val.php
!/application/third_party/nusoap095/lib/class.soapclient.php
!/application/third_party/nusoap095/lib/class.wsdl.php
!/application/third_party/nusoap095/lib/class.soap_transport_http.php
!/application/third_party/nusoap095/lib/class.wsdlcache.php
!/application/third_party/nusoap095/lib/class.soap_parser.php
!/application/third_party/nusoap095/lib/nusoap.php
!/application/third_party/nusoap095/lib/nusoapmime.php
!/application/third_party/nusoap095/lib/class.xmlschema.php
!/application/third_party/nusoap095/lib/class.soap_server.php
!/application/third_party/nusoap095/lib/class.soap_fault.php
!/application/third_party/nusoap095/lib/class.nusoap_base.php
!/application/third_party/nusoap095/samples/wsdlclient4.php
!/application/third_party/nusoap095/samples/wsdlclient12.php
!/application/third_party/nusoap095/samples/client1.php
!/application/third_party/nusoap095/samples/wsdlclient9.php
!/application/third_party/nusoap095/samples/getfile2client.php
!/application/third_party/nusoap095/samples/wsdlclient3.php
!/application/third_party/nusoap095/samples/wsdlclient8.php
!/application/third_party/nusoap095/samples/wsdlclient15.php
!/application/third_party/nusoap095/samples/wsdlclient11.php
!/application/third_party/nusoap095/samples/wsdlclient1.php
!/application/third_party/nusoap095/samples/client3.php
!/application/third_party/nusoap095/samples/wsdlclient10.php
!/application/third_party/nusoap095/samples/sslclient.php
!/application/third_party/nusoap095/samples/getfile1client.php
!/application/third_party/nusoap095/samples/wsdlclient7.php
!/application/third_party/nusoap095/samples/wsdlclient3b.php
!/application/third_party/nusoap095/samples/wsdlclient14.php
!/application/third_party/nusoap095/samples/wsdlclient5.php
!/application/third_party/nusoap095/samples/client2.php
!/application/third_party/nusoap095/samples/wsdlclient13.php
!/application/third_party/nusoap095/samples/wsdlclient3c.php
!/application/third_party/nusoap095/samples/mimeclient.php
!/application/third_party/nusoap095/samples/wsdlclient2.php
!/application/third_party/nusoap095/samples/wsdlclient6.php
!/application/modules/sections/controllers/VigenciaWs.php
!/application/modules/choque/views/choque_paciente.php
!/application/modules/Rx/views/SendXMLFuji.php
!/application/modules/sections/views/Reportes/TiemposPromedios.php
!/application/modules/sections/views/Reportes/Reporte430128.php
!/application/modules/Rx/views/SolicitudesRx_EstudiosTriage.php
!/application/modules/Rx/views/SendXML.php
!/application/modules/inicio/views/documentos/SolicitudRxAll.php
!/application/modules/horacero/views/ReadXMlSignosVitales.php
!/application/modules/sections/views/Documentos/Doc_HojaAltaHospitalaria.php
!/application/modules/inicio/views/documentos/GenerarHojaAltaHospitalaria.php
!/application/modules/Higienelimpieza/controllers/HigieneLimpieza.php
!/application/modules/Higienelimpieza/controllers/Camas.php
!/application/modules/inicio/views/documentos/HL_CL.php
!/application/modules/higienelimpieza/views/Camas/index.php
!/application/modules/arimac/controllers/Vigencias.php
!/application/modules/arimac/views/Vigencias/index.php
!/application/modules/arimac/views/Vigencias/Paciente.php
!/application/modules/horacero/views/generar_ticketNew.php
!/application/modules/horacero/views/MovilTicketNew.php
!/application/modules/urgencias/views/Reportes/Hospitales.php
!/application/modules/urgencias/views/Reportes/HospitalesStatus.php
!/application/modules/urgencias/views/Reportes/HospitalesStatusAdd.php
!/application/modules/um/controllers/Hospitales.php
!/application/modules/um/views/Hospitales/Hospitales.php
!/application/modules/um/views/Hospitales/HospitalesStatus.php
!/application/modules/um/views/Hospitales/HospitalesStatusAdd.php
!/application/modules/inicio/views/documentos/ReporteStatusHospital.php
!/application/modules/um/views/Hospitales/HospitalesRG.php
!/application/modules/um/views/Hospitales/HospitalesRGChart.php
!/application/modules/um/views/Hospitales/HospitalesRChart.php
!/application/modules/urgencias/views/Camas/index.php
!/application/modules/urgencias/views/Camas/GestionCamasOC.php
!/application/modules/urgencias/views/Camas/GestionCamasPisos.php
!/application/modules/inicio/views/documentos/HojaAltaHospitalaria.php
!/application/modules/inicio/views/documentos/HojaAltaHospitalaria_Old.php
assets/Noticias/cover_naruto_shippuden_fanart_by__cheko_aguilar_by_chekoaguilar-d5qg3zh.0a1a89.jpg
assets/Noticias/cD5lNQA.cfb160.jpg
assets/Noticias/BackVM-min.3fd90e.jpg
assets/Noticias/9fc26244c431e8e4fe518eff349bab05.548f7a.png
assets/Noticias/145951df69ffe9df60d4b07a65bf08a3.2803d3.jpg
assets/Noticias/BackVM-min.e0ad14.jpg
assets/Normativas/20171012105544.pdf
assets/Normativas/20171012114039.pdf
assets/Noticias/cD5lNQA.6cf8e4.jpg
assets/Noticias/cover_naruto_shippuden_fanart_by__cheko_aguilar_by_chekoaguilar-d5qg3zh.ed7f71.jpg
assets/Noticias/cover_naruto_shippuden_fanart_by__cheko_aguilar_by_chekoaguilar-d5qg3zh.6b12cf.jpg
/sigh_node/node_modules/
